@inject IViewLocalizer Localizer
@{
    ViewData.SetPageTitle(Localizer.GetString("welcome.message", "Cao"));
}
<div class="row">
    <div id="testBlock" class="col-md-12">
        <form asp-action="AjaxTestContent2"
              asp-ajax="true"
              asp-ajax-confirm="@Localizer.GetString("welcome.message", "Cao")"
              asp-ajax-update="#insertion-target">
            <button type="submit">More content</button>
        </form>
        <div id="insertion-target">
            <p>Ok vlado</p>
        </div>
    </div>
</div>