@inject IViewLocalizer Localizer
@{
    ViewBag.PageTitle = Localizer[ResourceKeys.Dashboard];
}

<div class="row">
    <div id="testBlock" class="col-md-12">
        This page is empty
    </div>
</div>
<script>
    corvo.logger.info('This is some random text.');
    corvo.logger.debug('This is some random text.', "DateTime");
    corvo.logger.warn('This is some random text.');
    corvo.logger.error('This is some random text.');
    corvo.logger.fatal('This is some random text.');
</script>