@inject IViewLocalizer Localizer
@{
    ViewBag.PageTitle = Localizer[ResourceKeys.Dashboard];
}

<div class="row">
    <div id="testBlock" class="col-md-12">
        This page is empty
    </div>
</div>
<script>
</script>