@model UserConfirmationModel
@inject IViewLocalizer Localizer
<div id="modal-block">
    <div class="modal-header">
        <h5 class="modal-title">@Localizer["email.confirmation"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
        </button>
    </div>
    <form asp-action="ConfirmEmail" data-ajax="true">
        <div class="modal-body">
            <input asp-for="Id" />
            <h4 class="text-error">@Localizer["confirmation.message"]</h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal">@Localizer[ResourceKeys.Cancel]</button>
            <button type="submit" class="btn btn-danger btn-flat">@Localizer[ResourceKeys.Submit]</button>
        </div>
    </form>
</div>