@model RoleConfirmationModel
@inject IViewLocalizer Localizer
<div id="modal-block">
    <div class="modal-header">
        <h5 class="modal-title">@Localizer[ResourceKeys.DeleteRecord]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
        </button>
    </div>
    <form asp-action="Delete" data-ajax="true" data-ajax-update="modal-block">
        <div class="modal-body">
            <partial name="_ValidationSummary" />
            <input asp-for="Id" />
            <h4 class="text-error">@Localizer[ResourceKeys.ConfirmationMessage]</h4>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default btn-flat pull-left">
                <i class="fa fa-times margin-r-5"></i>@Localizer[ResourceKeys.Cancel]
            </button>
            <button type="submit" class="btn btn-danger pull-right btn-flat">
                <i class="fa fa-save margin-r-5"></i>@Localizer[ResourceKeys.Submit]
            </button>
        </div>
    </form>
</div>