@model RoleUpdateModel
@inject IViewLocalizer Localizer
<div id="modal-block">
    <div class="modal-header">
        <h4 class="modal-title">@Localizer[ResourceKeys.UpdateRecord]</h4>
    </div>
    <form asp-action="Update" data-ajax="true" data-ajax-update="modal-block">
        <div class="modal-body">
            <partial name="_ValidationSummary" />
            <input asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control m-input" />
                <span asp-validation-for="Name" class="text-error"></span>
            </div>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default btn-flat pull-left">
                <i class="fa fa-times margin-r-5"></i>@Localizer[ResourceKeys.Cancel]
            </button>
            <button type="submit" class="btn btn-danger pull-right btn-flat">
                <i class="fa fa-save margin-r-5"></i>@Localizer[ResourceKeys.Save]
            </button>
        </div>
    </form>
</div>