@{
    ViewData.SetPageTitle("Home Page");
}
<div class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal">
    <div class="font-sans">        
        <h1 class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">Welcome to Simplicity Minimal Template</h1>
        <p class="text-sm md:text-base font-normal text-gray-600">Published 19 February 2019</p>
    </div>
    <p class="py-6">
        👋 Welcome fellow <a class="text-green-500 no-underline hover:underline" href="https://www.tailwindcss.com">Tailwind CSS</a> and miminal monochrome blog fan. This starter template provides a starting point to create your own minimal monochrome blog using Tailwind CSS and vanilla Javascript.
    </p>
</div>