@inject IViewLocalizer Localizer
@{
    ViewBag.PageTitle = "SignalR";
}
<script src="~/js/charts/corvo.charts.js"></script>
<p id="hello">Cao vladika</p>
<script>
    $('#hello').css('color', corvo.charts.getDefinedRandomColor());
    console.log(corvo.charts.getDefinedRandomColor())
    //console.log(corvo.charts.colors);
    //console.log(corvo.utils.getRandomNumber(10));
</script>