@model AccountChangePasswordModel
@inject IViewLocalizer Localizer
@{
    ViewBag.PageTitle = Localizer[ResourceKeys.Users];
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@Localizer[ResourceKeys.ChangePassword]</h3>
            </div>
            <div class="box-body">
                <form asp-action="ChangePassword" class="form-horizontal">
                    <partial name="_ValidationSummary" />
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper">
                                    <label asp-for="CurrentPassword" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="CurrentPassword" class="form-control">
                                <span asp-validation-for="CurrentPassword" class="text-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper">
                                    <label asp-for="NewPassword" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="NewPassword" class="form-control">
                                <span asp-validation-for="NewPassword" class="text-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper">
                                    <label asp-for="PasswordConfirmed" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="PasswordConfirmed" class="form-control">
                                <span asp-validation-for="PasswordConfirmed" class="text-error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <a asp-route="@AccountRoutes.Profile" class="btn btn-default btn-flat">
                            <i class="fa fa-times margin-r-5"></i>@Localizer[ResourceKeys.Cancel]
                        </a>
                        <button type="submit" class="btn btn-danger pull-right btn-flat">
                            <i class="fa fa-save margin-r-5"></i>@Localizer[ResourceKeys.Save]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>