<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a asp-route="Default">
                    <i class="fa fa-dashboard margin-r-5">
                    </i><span>Dashboard</span>
                </a>
            </li>            
        </ul>
    </section>
</aside>