@model 			FormViewModel

<form hx-post="@Url.Action("GoForm")"
	  hx-indicator="#form-indicator"
	  hx-swap="outerHTML">
	<div asp-validation-summary="ModelOnly"></div>
	<div class="form-group mb-2">
		<input asp-for="FirstName" class="form-control" placeholder="Enter your first name" />
		<span asp-validation-for="FirstName" class="text-danger"></span>
	</div>
	<div class="form-group mb-2">
		<input asp-for="LastName" class="form-control" placeholder="Enter your last name" />
		<span asp-validation-for="LastName" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">
		Submit
	</button>
	<p id="form-indicator" class="htmx-indicator mt-2">Loading...</p>
</form>